{% extends 'base.html' %}
{% load static %}

{% block body %}
      <div id="content">
        <h1>Welcome to BookMed</h1>
        
        <p> Bookmed helps you to book an appointment with your choosen practitioner at your preferable time. </p>


<h2> Goals and Objectives </h2>
<p>
  Our goal is to earn the name of National fame by imparting quality service, with courteous behavior and overwhelming care with the smile.

  Objectives:
  <ul>
    <li> Meet the patient requirement. </li>
    <li> Provide easy access to the appointment booking system </li>
    <li> Save yours and ours quality time. </li>
  </ul>
</p>
        <h3>Major Services</h3>
        <p>Some of the major services we offer are:</p>
        <ul>
          <li>Regular Health Checkup</li>
          <li>Blood Sugar Test</li>
          <li>Diet advise</li>
        </ul>
      </div>


{% endblock body %}

